h1 {font-size: 70px;
	color: #800020;
	margin-left: auto;
			margin-right: auto;
			width: 185px;}
h2 {font-size: 40px;
	color: #800020;
	border: 0px none #ffffff;
		padding-left: 10%;}
h3 {margin-left: auto;
	margin-right: auto;
		width: 32ch;
		height: 1ch;}
h4 {margin-left: auto;
		margin-right: auto;
		width: 290px;}
h5 {font-size: 40px;
	color: #800020;
	margin-left: auto;
	margin-right: auto;
		width: 105px;}
h6 {font-size: 10px;
	color: #ffffff;
	text-indent: 5%;
	font-family: verdana, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 32ch;}
p {font-size: 30px;
	color: #ffffff;
	text-indent: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 65%;}
blockquote {font-size: 25px; 
			color: #ffffff;
			margin-left: auto;
			margin-right: auto;
			width: 50%;}

a {color: #800020;}

.tourism {font-weight: bold;}

body {background-color: #000000;}

header {position: fixed;
			top: 0px;
	font-size: 70px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #ffffff;
	height: 75px;
	width: 100%;
	padding-top: 15px;
	padding-left: 45px;
	padding-bottom: 100px;}

courseInfo {background-color: #000000;
			position: fixed;
				top: 210px;
				right: 3px;
			width: 160px;
			height: 260px;
			float: right;
			border: 10px, solid, #800020;
			font-family: verdana, sans-serif;
			font-size: 20px;}

main {position: relative;
			top: 175px;
		margin-left: 175px;
		margin-right: 175px;
		margin-bottom: 15%;}

nav {position: fixed;
		top: 210px;
	width: 175px;
	height: 230px;
	background-color: #800020;
	border: 10px, solid, #ffffff;
	font-family: verdana, sans-serif;
	font-size: 20px;}
	nav ul{list-style-type: none;}
	nav li{width: 175px;
			margin-left: -20px;
			margin-right: auto;
			padding: 10px;}
	nav a{text-decoration: none;
			color: #ffffff;}
	nav a:hover{color: #aaaaaa;}

footer {background-color: #333333;
		position: fixed;
			bottom: 0px;
		border-top: 5px, solid, #800020;
		line-height:0ch;
		height:50px;
		width: 100%;}
		
form {background-color: #800020;
		position: relative;
			top: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 3px;
		border: 3px, solid, #ffffff;
		color: #ffffff;
		font-family: verdana, sans-serif;
		font-size: 15px;}
table, th{border-top: 3px solid #fff;}
th {font-size: 15px;
	font-weight: normal;}
td {text-align: right;}